@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

.footer {
    padding-top: 30px;
    margin-top: auto;
    background-color: #b06d36;
    width: 100%;
}

.footer-container {
    align-items: flex-end;
    padding-bottom: 30px;
    display: flex;
    margin: auto;
    color: #ffffff;
    justify-content: space-around;
}

.logo-div {
    align-items: center;
    display: flex;
}

.footer-bottom {
    margin: auto;
    text-align: center;
    padding-top: 20px;
    background-color: #ffffff;
}

.list a {
    color: #254D4D;
    text-decoration: none;
}

.list a:hover {
    color: #1a202c;
}

.list li {
    width: auto;
    list-style-type: none;
    text-align: left;
}